body {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Futurabookc'; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
@font-face {
  font-family: 'Futurabookc';
  src: url(/src/font/futurabookc.ttf);
}
 
